html {
    height: 100%;
}

a:link {
    color: #2d7883;
    text-decoration: underline;
}

a:visited {
    color: #2d7883;
    text-decoration: underline;
}

h1 a:link {
    color: #ffffff;
    text-decoration: none;
}

h1 a:hover {
    color: #ffffff;
    text-decoration: underline;
}

h1 a:visited {
    color: #ffffff;
    text-decoration: none;
}

body {
    font-family: Arial,Helvetica,sans-serif;
    color: #292d24;
    background-color: #ffffff;
    height: 95%;
}

h1#head {
    color: #ffffff;
    background-color: #863b3d;
    margin: 0px;
    width: 75%;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight:normal;
}

img#arrow {
    width: 12px;
    height: 12px;
}

input#term {
    width: 45%;
}

input#speedRange {
    /* width: 20%; */
    width: 150px;
    height: 12px;
    vertical-align: middle;
}

input#speedNum {
    width: 3em;
    height: 10px;
    padding: 2px;
}

span#speed {
    white-space: nowrap;
    padding: 2px;
    border: 2.5px solid #292d24;
    border-radius: 2px;
    vertical-align: middle;
    margin-right: 4px;
}

input.buttonOnImg {
    color: #ae4f55;
    width: 12px;
    height: 12px;
    padding: 2px;
    border: 2.5px solid #ae4f55;
    border-radius: 2px;
    vertical-align: middle;
}

input.buttonOffImg {
    color: #292d24;
    width: 12px;
    height: 12px;
    padding: 2px;
    border: 2.5px solid #292d24;
    border-radius: 2px;
    vertical-align: middle;
}

textarea#consoleArea {
    margin: 0px;
    padding: 0px;
    width: 23%;
    height: 10%;
    margin-bottom: 1%;
    resize: none;
    float: right;
}

textarea#logArea {
    margin: 0px;
    padding: 0px;
    width: 23%;
    height: 88%;
    resize: none;
    clear: right;
    float: right;
}

canvas#canvas {
    margin: 0px;
    padding: 0px;
}

p#bottomBlock {
    margin-bottom: 0px;
}
